<h1> Registro </h1>
<%= form_tag :action => 'form' do %>
    <p>Nombre: </p>
    <p><%= text_field_tag 'nombre_usuario', @nombre %></p>
    <p>Password: </p>
    <p><%= password_field_tag(:password,@pass) %></p>
    <%= submit_tag 'Registrarme' %>
<% end %>